post-card {
  display: flex;
  height: 100%;
  ion-card {
    display: flex;
    flex-direction: column;
    > img {
      cursor: pointer;
      max-height: 170px;
      object-fit: cover;
    }
    ion-card-title {
      cursor: pointer;
    }
    ion-card-content {
      flex: 1;
      max-height: 300px;
      flex: 1;
      overflow: hidden;
    }
    .card-footer {
      box-shadow: 0 -7px 15px 20px rgba(255, 255, 255, 0.9);
    }
  }

  .post-content {
    @extend .post-view;
  }
}
